<nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 justify-between">
            <div class="flex">
                <div class="ml-6 flex items-center space-x-4">
                    <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                    <a id=""
                       href="/"
                       class="rounded-md px-3 py-2 text-sm font-medium  text-gray-300 hover:bg-gray-700 hover:text-white"
                       aria-current="page">Books</a>
                </div>
            </div>

            <div class="flex items-center">
                <div class="shrink-0">
                    <a href="/book/create"
                            class="relative inline-flex items-center gap-x-1.5 rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
                        <svg class="-ml-0.5 size-5"
                             viewBox="0 0 20 20"
                             fill="currentColor"
                             aria-hidden="true"
                             data-slot="icon">
                            <path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
                        </svg>
                        New Book
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
